<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.oddhov.meteorfinder">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.oddhov.meteorfinder.MeteorFinderApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.oddhov.meteorfinder.meteorfinder.view.MeteorFinderActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".meteor_detail.view.MeteorDetailActivity"
            android:theme="@style/AppTheme.ActionBar" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBP2oqhGmrYxxk2VgorgzzXmqnIg2f6FSE" />

    </application>

</manifest>
